
input {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  /*line-height: 1.15;  1 */
  /*margin: 0;  2 */
}

html {
  color: white;
  font-size: 150%;
  line-height: 1.4;
  height:98%;
  width:98%;
  margin:0;
  border-radius: 40px;
  direction: rtl;
}

body {
  /*display: flex;*/
  padding: 2%;
  background-color: green;
}

h1 {
  color: lightgreen;
}

p, form, h1, table {
  margin:auto;
  position: relative;
  text-align: center;
  horiz-align: center;
  top: 10%;
  border-color: transparent;
  border-width: 4px;
  border-style: solid;
  border-radius: 20px;
  background-color: darkgreen;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
  -webkit-background-clip: padding-box;
}

table {
  border-color: black;
  border-width: 0px;
}

td {
  text-align: left;
  padding: 0.5em 1em;
}

input {
  border-radius: 6px;
  border-style: solid;
  border-color: green;
  background-color: darkgreen;
  color: white;
  text-align: right;
  padding: 0.5em 1em;
  width: 2em;
}

[input.text] {
  font-size: 12;
}

[type="button"], [type="submit"] {
  width: 4.3em;
  text-align: center;
  background-color: green;
}

